#main-container{
    display: flex;
}

#map{
    height: 100vh;
    width: 100vw;
    flex: 12;
}

#nav-bar, #settings-wrapper, #signup-wrapper, #about-wrapper {
    background: linear-gradient(135deg, #02C39A 0%,#00A896 100%);
    background: -moz-linear-gradient(-45deg, #02C39A 0%,#00A896 100%);
    background: -webkit-linear-gradient(-45deg, #02C39A 0%,#00A896 100%);
    color: white;
    padding: 0.1em;
    text-align: center;
}

#nav-bar{
    /* flex:1; */
    width: 20vw;
    overflow: hidden;
    /* animation: slide-right 0.2s 1; */
}

#settings-wrapper, #signup-wrapper, #about-wrapper{
    /* flex:5; */
    width: 20vw;
}

/* #settings-wrapper {
    animation: slide-left 0.2s 1;
} */

.button-layout{
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 0.2em;
    font-size: 2em;
    font-weight: 400;
}

.button-layout:hover{
    cursor: pointer;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

input[type=text] {
    padding: 0.2em;
    font-size: 1.2em;
    border-radius: 8px;
    box-shadow: #000000 5px;
    border-style: none;
}

input[type=submit] {
    padding: 0.2em;
    font-size: 1.5em;
    font-weight: 400;
    width: 10vw;
}

@keyframes slide-left{
    from {
        width: 5vw;
    }
    to{
        width: 20vw;
    }
}

@keyframes slide-right{
    from {
        width: 20vw;
    }
    to {
        width: 5vw;
    }
}

#footer {
    position: absolute;
    bottom: 0px;
}

.gear {
    margin-top: 2vh;
    background-image: url(../NavBar/1380016560.png);
    background-size: 3vw 3vw;
    width: 3vw;
    height: 3vw;
    /* width: 20px;
    height: 20px; */
    border-style: none;
    /* background-color: rbga(0,f,f,0.1) */
    background-color: transparent;
    border-radius: 30px;
    /* -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2); */
}

.gear:hover {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.back {
    margin-top: 1em;
    margin-left: 0.3em;
    margin-right: 0.2em;
    padding: 0;
    background-image: url(../back.svg);
    background-size: 5vw 5vw;
    border: solid black 2px;
    width: 2.4vw;
    height: 2.4vw;
    transform: rotate(180deg);
    /* border-style: none; */
    border-radius: 30px;
    background-color: transparent;
    background-position: center;
    -webkit-box-shadow: -5px -5px 3px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: -5px -5px 3px -2px rgba(0,0,0,0.3);
    box-shadow: -5px -5px 3px -2px rgba(0,0,0,0.3);
}

.back:hover {
    -webkit-box-shadow: -5px -5px 3px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: -5px -5px 3px -2px rgba(0,0,0,0.4);
    box-shadow: -5px -5px 3px -2px rgba(0,0,0,0.4);
}

.logo {
    margin: 0.2em;
    background-image: url(../NavBar/logo.png);
    background-size: 3vw 3vw;
    width: 3vw;
    height: 3vw;
}

.top {
    display: flex;
    flex-flow: row;
}

.article {
    margin: 0.2em;
    padding: 0.2em;
    border: solid white 1px;
    -webkit-box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.4);
    border-radius: 15px;
    background-color: #028090;
}

.articleBox {
    overflow: scroll;
    height: 75vh;
    margin: 0.2em;
    padding: 0.2em;
    border: solid white 1px;
    border-radius: 15px;
    background-color: #00A896;
}